.center{
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 900px;
  background: white;
  z-index: 100;
}

.container-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  h2 {
    font-weight: normal;
    margin: 10px;
  }
}

.funcs{
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

i{
    color: rgb(99, 99, 99);
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .container{
    width: 100%;
  }
}