.container-flex{
  width: 100%;
  display: flex;
}
.container {
  width: 500px;
}
.button {
  text-align: end;
}
h2,
h4 {
  font-weight: normal;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
  margin: 0;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.flex {
    margin-top: 50px;
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    flex-direction: row;
    mat-form-field {
      width: 100%;
    }
  }
}
