.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 900px;
  height: calc(100% - 91px);
  background-color: #fff;
  overflow: auto;
}

.center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.album {
  width: 400px;
  margin: 15px;
}

.example-card {
  max-width: 450px;
  background-color: rgb(243, 243, 243);
  i {
    color: rgb(114, 114, 114);
  }
}

.example-header-image {
  background-image: url("https://www.stripes.com/polopoly_fs/1.557391.1542726644!/image/image.jpg_gen/derivatives/landscape_900/image.jpg");
  background-size: cover;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .album{
    width: 350px;
  }
}