.container {
  width: 50%;
  height: calc(100% - 91px);
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  overflow: auto;
}

.center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.album {
  width: 45%;
  margin: 15px;
}

.example-card {
  max-width: 450px;
  background-color: rgb(243, 243, 243);
  i{
      color:rgb(114, 114, 114);
  }
}

.example-header-image {
  background-image: url("https://www.stripes.com/polopoly_fs/1.557391.1542726644!/image/image.jpg_gen/derivatives/landscape_900/image.jpg");
  background-size: cover;
}

/* width Scroll */
::-webkit-scrollbar {
    width: 0px;
    height: 3px;
  }