.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 900px;
  height: calc(100% - 91px);
  background-color: #fff;
  overflow: auto;
}

.container-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.album {
  background-color: #e6e6e6;
  width: 400px;
  max-width: 450px;
  margin: 15px;
  border-radius: 15px 15px 15px 15px;
  img {
    width: 100%;
    height: 260px;
  }
}

.sender {
  display: flex;
  flex: row;
  padding: 15px;
  align-items: center;
  img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
  }
}
.buttons {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  i {
    color: rgb(114, 114, 114);
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .album {
    width: 350px;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #watch {
    display: none;
  }
  .album {
    background-color: white;
    width: 100%;
    margin: 0;
    border-radius: 0;
    border-bottom: 0.2px rgb(206, 206, 206) solid;
    img {
      border-radius: 0;
    }
  }

  .sender {
    img {
      border-radius: 50%;
    }
  }
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
