<div class="center">
    <div class="container">
        <div class="container-flex center">

            <div class="album">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Вербин С.Д.</mat-card-title>
                        <mat-card-subtitle>рядовой</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image
                        src="https://www.armytimes.com/resizer/rYHgrCMS-qGtmcFQccc1MDBq268=/1200x0/filters:quality(100)/arc-anglerfish-arc2-prod-mco.s3.amazonaws.com/public/4BCLNCX25JBNZC7ZRDRACBNFYA.jpg"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p> Description </p>
                    </mat-card-content>
                    <mat-card-actions align="right">
                        <button mat-icon-button>
                            <i class="fas fa-cloud-download-alt fa-lg"></i>
                        </button>

                        <button mat-icon-button>
                            <i class="fas fa-eye fa-lg"></i>
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>

            <div class="album">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Вербин С.Д.</mat-card-title>
                        <mat-card-subtitle>рядовой</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image
                        src="https://www.armytimes.com/resizer/rYHgrCMS-qGtmcFQccc1MDBq268=/1200x0/filters:quality(100)/arc-anglerfish-arc2-prod-mco.s3.amazonaws.com/public/4BCLNCX25JBNZC7ZRDRACBNFYA.jpg"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p> Description </p>
                    </mat-card-content>
                    <mat-card-actions align="right">
                        <button mat-icon-button>
                            <i class="fas fa-cloud-download-alt fa-lg"></i>
                        </button>

                        <button mat-icon-button>
                            <i class="fas fa-eye fa-lg"></i>
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>


            <div class="album">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Вербин С.Д.</mat-card-title>
                        <mat-card-subtitle>рядовой</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image
                        src="https://www.armytimes.com/resizer/rYHgrCMS-qGtmcFQccc1MDBq268=/1200x0/filters:quality(100)/arc-anglerfish-arc2-prod-mco.s3.amazonaws.com/public/4BCLNCX25JBNZC7ZRDRACBNFYA.jpg"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p> Description </p>
                    </mat-card-content>
                    <mat-card-actions align="right">
                        <button mat-icon-button>
                            <i class="fas fa-cloud-download-alt fa-lg"></i>
                        </button>

                        <button mat-icon-button>
                            <i class="fas fa-eye fa-lg"></i>
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>


            <div class="album">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Вербин С.Д.</mat-card-title>
                        <mat-card-subtitle>рядовой</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image
                        src="https://www.armytimes.com/resizer/rYHgrCMS-qGtmcFQccc1MDBq268=/1200x0/filters:quality(100)/arc-anglerfish-arc2-prod-mco.s3.amazonaws.com/public/4BCLNCX25JBNZC7ZRDRACBNFYA.jpg"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p> Description </p>
                    </mat-card-content>
                    <mat-card-actions align="right">
                        <button mat-icon-button>
                            <i class="fas fa-cloud-download-alt fa-lg"></i>
                        </button>

                        <button mat-icon-button>
                            <i class="fas fa-eye fa-lg"></i>
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>

            <div class="album">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Вербин С.Д.</mat-card-title>
                        <mat-card-subtitle>рядовой</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image
                        src="https://www.armytimes.com/resizer/rYHgrCMS-qGtmcFQccc1MDBq268=/1200x0/filters:quality(100)/arc-anglerfish-arc2-prod-mco.s3.amazonaws.com/public/4BCLNCX25JBNZC7ZRDRACBNFYA.jpg"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p> Description </p>
                    </mat-card-content>
                    <mat-card-actions align="right">
                        <button mat-icon-button>
                            <i class="fas fa-cloud-download-alt fa-lg"></i>
                        </button>

                        <button mat-icon-button>
                            <i class="fas fa-eye fa-lg"></i>
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>

        </div>
    </div>
</div>