<div class="dropzone" dropzone (hovered)="toggleHover($event)" (dropped)="onDrop($event)" [class.hovering]="isHovering">

  <h3>Drop Zone</h3>
  <p>Drag and Drop a File</p>
  <div class="file">
    <label class="file-label">
      <input #file class="file-input" multiple type="file">
    </label>
  </div>
</div>

<div class="field">
  <mat-form-field appearance="outline">
    <mat-label>Name of album</mat-label>
    <input #nameAlbum matInput placeholder="Enter...">
  </mat-form-field>
  <button mat-raised-button color="accent" (click)="onDrop(file.files)">SUBMIT</button>
</div>

<mat-divider></mat-divider>

<div *ngFor="let file of files">
  <upload-task [file]="file" [nameAlbum]=nameAlbum.value></upload-task>
</div>