.container-flex {
  width: 100%;
  display: flex;
}
.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  font-weight: 200;
  height: 500px;
  border: 2px dashed #24a6f1;
  border-radius: 5px;
  background: white;
  margin: 10px 0;

  &.hovering {
    border: 2px solid #24a6f1;
    color: #dadada !important;
  }

  .file {
    display: flex;
    justify-content: center;
  }

  .file-label {
    display: block;
    border: 0;
    font-size: 1.2em;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    transition: 0.1s color;
    span{
      margin: 5px;
    }
  }
  input[type="file"]::-webkit-file-upload-button {
    display: none;
  }
}

.file-label:hover{
  color: rgb(145, 145, 145);
}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}

img {
  width: 250px;
}

.field {
  display: flex;
  flex-direction: column;
}
