.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 500px;
  font-weight: 200;
  height: 500px;
  border: 2px dashed #24a6f1;
  border-radius: 5px;
  background: white;
  margin: 10px 0;

  &.hovering {
    border: 2px solid #24a6f1;
    color: #dadada !important;
  }

  .file-label {
    font-size: 1.2em;
  }
  input[type="file"]::-webkit-file-upload-button{
    width: 100%;
 }
}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}

img {
  width: 250px;
}
